* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/************Fonts****************/
/**  font-family: 'Outfit', sans-serif; **/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

/** font-family: 'Inter', sans-serif; **/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/************Fonts ends****************/
:root {
    --thunderbird: #FFC600;
    --mirage: #18242a;
    --supernova: #bd1622;
    --outer-space: #2C3538;
    --trout: #4D585D;
    --white: #ffffff;
    --white-secondary: #A3A7AA;
    --error-message: #FF5353;
}


body,
h1,
h2,
h3,
h4,
p,
body * {
    font-family: 'Inter', sans-serif;
    color: var(--white);
}

body {
    background-color: var(--mirage);
}

a {
    text-decoration: none;
    cursor: pointer;
}

.h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

h2 {
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
}

h3 {
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
}

h4 {
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
}

p {
    font-weight: 400;
}

.p1 {
    font-size: 16px;
    line-height: 24px;
}

.p1 {
    font-size: 16px;
    line-height: 24px;
}

.p2 {
    font-size: 14px;
    line-height: 20px;
}

.p3 {
    font-size: 12px;
    line-height: 16px;
}

.p4 {
    font-size: 10px;
    line-height: 16px;
}

label {
    font-weight: 500;
    color: var(--white);
    display: inline-block;
}

.label1 {
    font-size: 16px;
    line-height: 24px;
}

.label2 {
    font-size: 14px;
    line-height: 20px;

}

.label3 {
    font-size: 12px;
    line-height: 16px;

}

.label4 {
    font-size: 10px;
    line-height: 16px;

}

button {
    outline: unset;
    border: none;
    background: transparent;
}

.btn {
    width: 343px;
    max-width: 100%;
    height: 48px;
    padding: 12px 16px;
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--mirage);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    border: unset;
    text-align: center;
    cursor: pointer;
}

.btn:disabled {
    opacity: 0.6;
}

.btn.btn-primary {
    background-color: var(--thunderbird);

}

.btn.btn-primary:focus,
.btn.btn-primary:active {
    background-color: #D19700;
}

.btn.btn-ternary-primary {
    background-color: var(--mirage);
    color: var(--thunderbird);
}

img {
    max-width: 100%;
}

.d-block {
    display: block;
}

a {
    color: var(--thunderbird);

}


.mainWrapper {
    padding-top: 33px;
    padding-left: 16px;
    padding-right: 16px;
}

/****************header css ******************/
header {
    background-color: var(--outer-space);
}

.headerContainer {
    padding: 14px 16px;

}

.headerWrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.headerLogo {
    margin-right: 60px;
    width: 86px;
}

.headerLogo .headertoggle {
    width: 26px;
    line-height: 1;
}

.headerLogo img {
    width: 100%;
}

.headerMenu {
    margin-right: 15px;
}

.headerMenuList {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 32px;
    flex-wrap: wrap;

}

.headerMenuList li a {
    color: var(--white-secondary);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.headerMenuList li.active a {
    color: var(--thunderbird);
}

.headerMenuList li.active a:before {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 6px;
    background-color: var(--thunderbird);
    left: 0;
}

/* .headerAuthMenu{
    margin-left: auto;
} */
.headerAuthMenuList {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    gap: 12px;
    margin-left: auto;

}

.headerAuthMenuList li a {
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.headerAuthMenuList li a.headerLogin_link {
    color: var(--thunderbird);
}

.headerAuthMenuList li a.headerRegister_link {
    background-color: var(--thunderbird);
    color: var(--mirage);
    border-radius: 10px;
    padding: 6px 20px;
    line-height: 1;
}

.headerWrapper .custom-input {
    width: 121px;
    height: 27px;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 10px;
}

.headerPassword {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
}

.headerInputGroup {
    position: relative;
}

.headerInputGroup .error-message {
    position: absolute;
    bottom: -17px;
    font-size: 12px;
    color: var(--supernova);
}

.error-message {
    color: var(--error-message);
}

.headerPassword .headerLogin_link {
    padding-left: 12px;
    color: var(--thunderbird);
    text-transform: uppercase;
    font-weight: 600;
}

.cursor {
    cursor: pointer;
}

.toggle-menu {
    position: absolute;
    top: 154%;
    left: 0;
    min-width: 150px;
    background-color: var(--outer-space);
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.30);
    margin-right: 0;
    transition: 0.6s all ease;
}

/* .headerToggle{
    position: relative;
} */
.toggle-menu .headerMenuList {
    display: block;
}

.toggle-menu .headerMenuList li a {
    width: 100%;
    display: block;
    padding: 5px 0px 5px 10px;
}

.toggle-menu .headerMenuList li a:before {
    width: 6px;
    height: 100%;
    top: 0;
    bottom: unset;
    right: 0;
    left: unset;

}

/******header css ends******/

/********************* Auth css*********************/
.authWrapper {
    width: 353px;
    max-width: 100%;
    margin: 0 auto;
}


.authWrapper .custom-dropdown {
    position: relative;
    padding-right: 3px;
}

.authWrapper .dropdown-list {
    position: absolute;
    list-style-type: none;
    background-color: var(--trout);
    min-width: 52px;
    padding: 10px;
    border-radius: 10px;
    z-index: 99;
}

.authWrapper .dropdown-list li {
    margin-bottom: 15px;
}

.authWrapper .dropdown-list li:last-child {
    margin-bottom: 0;
}

.dropdown-toggle {
    position: relative;
    padding-right: 10px;
}

.input-group .input-logo {
    border-right: 1px solid var(--trout);
}

.input-group .input-logo .dropdown-toggle::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3px;
    height: 5px;
    width: 9px;
    background: url(../img/chevron_down.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*****************form and input ****************************/
.form-group {
    margin-bottom: 16px;
}

.input-group {
    padding: 6px 16px 6px 8px;
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--trout);
    background-color: var(--outer-space);
    height: 44px;
    position: relative;
}

.input-group .input-logo {
    line-height: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.input-group .input-logo img {
    min-width: 32px;
    min-height: 32px;
}

span.input-password-icon {
    position: absolute;
    right: 12px;
    line-height: 1;
    top: 50%;
    transform: translateY(-50%);
}

.input-group .form-input,
.input-group .form-input.ng-touched {
    background-color: var(--outer-space) !important;
    color: var(--white) !important;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: unset;
    width: 100%;
    padding: 0 16px;
}

.input-group input:-webkit-autofill,
.input-group input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--white) !important;
    -webkit-box-shadow: 0 0 0px 40rem var(--outer-space) inset;
}

.headerContainer input:-webkit-autofill,
.headerContainer input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--white) !important;
    -webkit-box-shadow: 0 0 0px 40rem var(--mirage) inset;
}

.input-group .form-input:focus {
    outline: unset;
}

.label-required {
    position: relative;
}

.label-required::after {
    content: "*";
    color: var(--thunderbird);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.input-term {
    display: flex;
    align-items: center;
    gap: 13px;
}

.form-input-checkbox {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    border: 1px solid var(--white);
    background-color: var(--mirage);
}

.input-term label {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px
}

.input-term label a {
    text-decoration: underline;
}

.form-submit input[type="submit"] {
    width: 100%;
    /* margin-top: 46px; */
}

.form-submit {
    margin-top: 40px;
}

.ng-otp-input-wrapper {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.ng-otp-input-wrapper .otp-input {
    background-color: var(--outer-space);
    border: 1px solid var(--outer-space) !important;
    outline: unset !important;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 1 !important;
    padding: 12px 16px !important;
    border-radius: 10px !important;
    width: 74px !important;
    height: 44px !important;

}

.border-red .otp-input {
    border-color: var(--error-message) !important;
    color: var(--error-message)
}

ng-otp-input .ng-otp-input-wrapper .otp-input:not(:last-child) {
    margin-right: 0 !important;
}

.input-group .countryCodeInput {
    max-width: 60px;
    padding: 0 10px;
    border-right: 1px solid var(--trout);
    text-align: center;
}

/************************** form and input ends **************/


.switchAuth {
    width: 343px;
    max-width: 100%;
    margin: 0 auto;
}

.social-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.switchAuth_title {
    text-align: center;
    margin-top: 44px;
    margin-bottom: 22px;
}

.social-login a {
    height: 32px;
    width: 32px;
    line-height: 1;
    display: inline-block;
}

.have-account {
    margin-top: 60px;
    text-align: center;
}

.resend_otp {
    color: var(--thunderbird);
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    text-transform: uppercase;
}

.padding11px {
    margin-top: 11px;
}

.padding24px {
    margin-top: 24px;
}

.margin-bottom8px {
    margin-bottom: 8px;
}

.paddingboth24px {
    margin-top: 24px;
    margin-bottom: 24px;
}

/********** Common css *********/
.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.g-15 {
    gap: 15px;
}

/***************margin-pdding***********************/
.mr-9 {
    margin-right: 9px;
}

.mt-8px {
    margin-top: 8px;
}

.mt-22px {
    margin-top: 22px;
}

.mt-24px {
    margin-top: 24px;
}

.mt-60px {
    margin-top: 60px;
}

.mb-24px {
    margin-bottom: 24px;
}

.mt-36px {
    margin-top: 36px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.pb-20px {
    padding-bottom: 20px;
}

.pt-20px {
    padding-top: 20px;
}

.w-100 {
    width: 100%;
}

.marginbottom20px {
    margin-bottom: 20px;
}

.radio-label input {
    position: absolute;
    width: 100%;
    height: 100%;
    appearance: none;
}

.radio-label {
    position: relative;
    width: 100%;
}

.radio-label .custom-radio {
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 9px;
    position: relative;
}

.radio-label input[type="radio"]:checked~.custom-radio {
    border-color: var(--thunderbird);
}

.radio-label input[type="radio"]:checked~.custom-radio:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: var(--thunderbird);
    border-radius: 50%;
}

.custom-input {
    background-color: #18242A;
    padding: 10px;
}

.custom-input {
    width: 100%;
    height: 60;
    padding: 5px;
    color: white;
    border: none;
    background-color: #18242A;
    outline: none;
}

.gap-4 {
    gap: 4px
}


.resend-otp {
    text-transform: uppercase;
}

/************************footer *********************/
footer {
    margin-top: 90px;
    background-color: var(--outer-space);
}

.footerBorder {
    border: 1px solid var(--trout);
    border-radius: 10px 10px 0px 0px;
}

.footerMenu {
    background-color: var(--outer-space);
}

.footerCopyright {
    background-color: var(--mirage);
    padding: 0 20px;
}

.footerRow {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.footer-social-links{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}
.footerRow>div {
    padding: 0 10px;
}

.footer-menu {
    padding: 36px 20px 20px;
}

.footerMenuHeading {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: var(--thunderbird);
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footerCopyright p {
    color: var(--trout)
}

.footerCopyright .footerContainer {
    padding: 16px 0;
}

.payment-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px
}
.payment-icons .payment-icons-wrapper{
    display: inline-block;
    line-height: 0;
    max-height: fit-content;
}
.footerLogo{
    margin-bottom: 11px;
    line-height: 0;
    max-width: 86px;
}
.footer-items{
    list-style-type: none;
    padding-left: 0;
}
.footer-items li a{
    text-shadow: 0px 7.665505409240723px 7.665505409240723px rgba(0, 0, 0, 0.30);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color:var(--white);
}
.footerContainer{
    position: relative;    
    width: 100%;
    margin: 0 auto;
}
.footer-age{
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    text-transform: uppercase;
    color:var(--thunderbird);
    position: absolute;
    right: 0;
    top:-38px;
    padding: 6px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--trout);
    background: var(--mirage);
}
@media screen and (min-width:1200px) {
    .footerContainer {
        max-width: 1164px;
    }
}

@media screen and (min-width:991px) {
    .footerRow .col-2 {
        width: 20%;
    }

    .footerRow .col-3 {
        width: 30%;
    }
}




/*******************footer ends******************/



/* .vertical-menu {
    flex-direction: column;
  } */
.menu-visible {
    display: flex;
    flex-direction: column;
}

.edge-border {
    border-radius: 5px;
    vertical-align: auto;
    border: 5px solid red;
    /* Adjust border properties as needed */
}

.borderrr {

    display: table-cell;
    width: 250px;
    height: 400px;
    border: 2px solid black;
    vertical-align: middle;

}

.flex {
    display: flex;
    justify-content: space-between;
    margin: 5px;

}

.spacelr {
    margin: 10px, 15px, 0px, 15px;

}

.gradient-1 {
    background: linear-gradient(180deg, #4D585D 0%, #2C3538 14.17%, #2C3538 100%);

}

.main-wrapper {
    padding: 16px 20px;
}

.side-wrapper {
    min-height: 80vh;
    padding: 8px;
    border-radius: 10px;
}

.left-side-wrapper {
    width: 16.67%;
}

.right-side-wrapper {
    width: 25%;
}


/************************************** Responsive css ***********************/
@media screen and (max-width:1425px) and (min-width:768px) {
    .headerMenuList li a {
        font-size: 12px;
    }

    .headerLogo {
        margin-right: 30px;
    }

    .headerMenuList li.active a:before {
        bottom: -23px;
    }
}

@media screen and (max-width:1265px) and (min-width:768px) {
    .headerLogo {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .headerMenu {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .headerLoginbtn {
        display: none;
        ;
    }
}

@media screen and (min-width:1266px) {
    .headertoggle {
        display: none;
    }

    .toggle-menu {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .desktop-menu {
        display: none;
    }

    .headerPassword {
        display: none;
    }

    .headerAuthMenu {
        margin-left: auto;
    }
}

/* CSS for the modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* Ensure the modal appears on top of other content */
}

/* CSS for the modal card */
.modal-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Close button for the modal */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.success-snackbar {
    background-color: #4caf50 !important;
    /* Green background color for success messages */
    color: #fff !important;
    /* White text color */
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: var(--outer-space) !important;
    padding: 16px !important;
    border-radius: 16px !important;
    box-shadow: unset !important
}

.cdk-global-overlay-wrapper .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: var(--mirage);
    border: 1px solid var(--trout);
    box-shadow: -1px 4px 34px 9px rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    padding: 45px 18px 20px;
    min-width: 309px;

}

.cdk-global-overlay-wrapper .mat-mdc-dialog-container img {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    display: block;

}

.cdk-global-overlay-wrapper .mat-mdc-dialog-container p {
    margin-top: 10px;
    margin-bottom: 25px;
}


#countryCode {
    background-color: var(--outer-space);
    color: var(--white);
    border: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#countryCode:focus {
    outline: 0;
}

.countryCode_wrapper {
    display: flex;
    align-items: center;
    border-right: 1px solid var(--trout);
    /* padding-left: 36px; */
}


/*********************** card css*************************/
.card.mdc-card{
    width: 100%;
    border: 1px solid var(--trout);
    background-color: var(--outer-space) ; 
    border-radius: 10px;  
    height: 100%;
    box-shadow: 0px 14px 54px 0px rgba(0, 0, 0, 0.25)
}
.blog-wrapper .card .card-category-tag{
    background-color: var(--thunderbird);
    border-radius: 6px 6px 0px 0px;
    line-height: 1;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.36px;
    padding: 3px 6px;
    color: var(--mirage);
    display: inline-block;
    position: absolute;
    top:-18px;
    left: 15px;
    z-index: 9;
}
.blog-wrapper .card .mat-mdc-card-content{
    padding: 20px 15px 15px;
    position: relative;
}
.blog-wrapper .card .mat-mdc-card-content .meta-date{
    color:var(--white-secondary);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
}
.card .mat-mdc-card-title,
.mat-mdc-card-content h1{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}
 .card  .mat-mdc-card-content p{
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}
/*
.card  .mat-mdc-card-content p{
   display: none;
}
.card  .mat-mdc-card-content p:first-child{
    display: -webkit-box;
 } */
 .blog-wrapper .card  .mdc-card__media{
    height: 160px;
    width: 100% !important;
    object-fit: cover;
} 

.card .mdc-card__actions{
    display: flex;
    align-items: center;
    gap:5px;
    padding: 0 15px 20px;
    min-height: fit-content;
}
.card-group-col{
    width: 100%;
}
@media screen and (min-width:768px){
    .card-group-row{
        display: flex;
        flex-wrap:wrap;
       margin: 0 -10px;
    }
    .card-group-col{
        max-width: 33.33%;
        padding: 0 10px;
        margin-bottom: 20px;
    }
    
}
/*********************** card css*************************/

/******************** nav css *****************************/
.custom-nav .custom-navList{
    display: flex;
    list-style-type: none ;
    padding-left: 0;
    gap:25px;
    padding-bottom: 18px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--trout);
}

.custom-nav .custom-navList li a{
    color: #BCBCBC;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.36px;
}

/* //////////// */
/* styles.css (or your component's CSS file) */
.active-link {
    background-color: #f0f0f0; /* Customize the styling for the active link */
    /* Add any other styles you want for active links */
  }
  /* //////////////////////////// */
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    color: black;
}

/************** blog page css ********/
.middle-wrapper{
    width:100%;
}
@media screen and (min-width:768px){
    .middle-wrapper{
        max-width:72%;
        flex: 0 0 72%;
    }
}

/**************** promotions ***********/


/* Help */
.help-wrapper h1{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
}

.step-row{
    display: flex;
    gap:25px;
    margin-bottom: 60px;
}
.step-row > div{
    margin-bottom: 20px;
}

.single-step{
    padding: 24px;
    border-radius: 11px;
    background: var(--outer-space);
    margin-bottom: 14px;
}
.help-row{
    display: flex;
}
.help-row > *{
    width: 100%;
}
@media screen and (min-width:991px){
    .help-row > .col-w1{
        width: 8.33% ;
    }
    .help-row > .col-w2{
        width: 16.66% ;
    }
    .help-row > .col-w3{
        width: 24.99% ;
    }
    .help-row > .col-w5{
        width: 41.65% ;
    }
}

/* Help ends*/

/***************** about css ****************/
.about-section {
    overflow: hidden;
}
.about-section h1{
    margin-top: 15px;
    margin-bottom: 37px;
}
.about-content{
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--trout);
    background: var(--outer-space);
    padding: 75px 60px;
    margin-bottom: 80px;
    
}

.about-content p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.about-content p a{
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}
.about-content-row{
    display: flex;

}
@media screen and (min-width:768px){
    .about-content-text{
        width: 50%;
     
     }
     .about-content-image {
         width: 50%;
     }
}

@media screen and (min-width:1300px){
    .about-content-text{
        max-width:100%;
        flex: 0 0 500px;
        width: 500px;
    }
}


.about-content-image img{
    position: relative;
    bottom: -120px;
    transform: scale(1.5);
    left: 35px;
}

@media screen and (max-width:767px){
    .about-content-row{
        flex-wrap: wrap;
    }
    .about-content-image img{
        position: relative;
        bottom: -80px;
        /* transform: scale(2); */
        left: 83%;
    }
}